:root {
  --bg-page: rgba(0, 0, 0, 0.9);
  --bg-menu: rgba(21, 23, 24, 0.35);
  --bg-back-email: rgba(0, 0, 0, 0.3);
  --color-text: rgba(255, 255, 255, 0.747);

  --font-size: 32px;

  --translateY: translateY(68%);
  --translateYHover: translateY(0px);
  --transition: all 0.35s;
}
body {
  background: url('../assets/bg-home.jpg') center center / cover no-repeat
    transparent;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100%;
  padding: 7%;
  margin: 16% 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.titleHome,
.descriptionHome {
  text-align: center;
  align-items: center;
  max-width: 572px;
}

h2.titleHome {
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
}

p.descriptionHome {
  font-weight: 400;
  font-size: var(--font-size);
  margin-top: 16px;
  color: var(--color-text);
}

.projectDescription {
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 48px;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: none;
  text-decoration: none;
}

.about {
  margin: 0px 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 96px;
}

h3 {
  font-size: var(--font-size);
  font-weight: bold;
  text-align: center;
}

.about p {
  max-width: 1120px;
  margin-top: 48px;
  font-size: var(--font-size);
  text-align: justify;
  color: var(--color-text);
}

.imgPerfil {
  max-width: 480px;
  padding: 112px 48px;
}

.imgPerfil img {
  max-width: 100%;
  width: auto;
  border-radius: 300px;
}

.containerSkills {
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.skillTitle,
.projectsTitle,
.contactTitle {
  width: 90%;
  display: block;
  align-items: center;
}

.skillTitle p,
.projectsTitle p,
.contactTitle p {
  max-width: 100%;
  margin-top: 48px;
  font-size: var(--font-size);
  text-align: justify;
  color: var(--color-text);
}

.skills,
.cards,
.contact {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.containerSkill,
.card,
.containerContact {
  width: 264px;
  height: 264px;
  padding: 16px;
  border: 1px solid var(--color-text);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerSkill img {
  width: 72px;
  height: 72px;
  display: flex;
}

.containerSkill p,
.projectDescription p,
.containerContact p {
  text-align: center;
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
}

.containerSkill:hover {
  background-color: var(--bg-back-email);
}

.cards {
  padding-top: 48px;
  margin-top: 12rem;
}

.card {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-end;
  padding: 0px;
  overflow: hidden;
}

.card a {
  width: 100%;
  height: 75%;
  border-radius: 8px;
  background-color: rgba(21, 23, 24, 0.9);
  transform: var(--translateY);
  -o-transform: var(--translateY);
  -moz-transform: var(--translateY);
  -webkit-transform: var(--translateY);
}

.card:hover a {
  width: 100%;
  transform: var(--translateYHover);
  -o-transform: var(--translateYHover);
  -moz-transform: var(--translateYHover);
  -webkit-transform: var(--translateYHover);
}

.card a,
.card:hover a {
  transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  -webkit-transition: var(--transition);
}

.containerContact {
  border: none;
}

.contactTitle p {
  text-align: center;
}
