.nav {
  position: fixed;
  width: 100%;
  top: 0%;
  background-color: var(--bg-menu);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.nav-logo {
  max-height: 45px;
  transform: scale(4, 4);
}

.nav-logo:hover {
  cursor: pointer;
  transform: scale(4.3);
}

.nav .nav-content {
  padding: 24px 72px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  display: inline-flex;
  margin: 0 32px;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text);
  list-style: none;
  cursor: pointer;
}

.nav-item:hover,
.nav-item .active {
  color: aqua;
  text-decoration: 2px;
  transform: scale(1.1, 1.1);
}

.linkSocialFixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 24px;
  top: 340px;
  background-color: var(--bg-menu);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.linkSocialFixed a {
  margin: 12px;
}
.linkSocialFixed:hover {
  background-color: var(--bg-back-email);
}

.linkSocialFixed a:hover {
  transform: scale(1.2, 1.2);
}
