.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(21, 23, 24, 0.35);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.nav-logo {
  width: 45px;
  height: 45px;
}

.nav .nav-content {
  padding: 24px 72px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  display: inline-flex;
  margin: 0 32px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.747);
  list-style: none;
  cursor: pointer;
}

.linkSocialFixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 24px;
  top: 340px;
}

.linkSocialFixed a {
  margin: 12px;
}
