footer {
  background-color: var(--bg-back-email);
  color: white;
  padding: 32px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyRigth {
  line-height: 32px;
}

.redeSocial a {
  margin: 12px;
}

.redeSocial img:hover {
  transform: scale(1.2);
}

.voltarTopo img {
  width: 64px;
  cursor: pointer;
}

.voltarTopo,
.containerContact img:hover {
  animation: pulse 0.7s infinite;
  display: table;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.2);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.2);
    filter: brightness(200%);
  }
}
